#header{
    background: $blue url("../img/Portfoliocropped.jpeg") no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: 1;
}

.brand-logo{
    color: $pink;
}

.twentyFivePercent{
    height: 25vh;
}

.lightBox{
    background-color: rgba(244,244,244,.6);
    height: 42vh;
    z-index: 2;
}

.fiveVH{
    height: 5vh;
}

.navyBorder{
    border: 10px $navy solid;
    height: 32vh;
}

.headerIcon{
    height: 25px;
}