$blue: #55BFF3;
$pink: #EA3864;
$grey: #f4f4f4;
$navy: #08182b;
$translucentNavy: rgba(8,24,43,.3);
$transluscentBlue: rgba(85,191,243,.7);

@import "header";
@import "about";
@import "projects";
@import "tech";
@import "contact";
body{
    background-color: $grey;
    color: $navy;
}
nav{
    background-color: $navy;
    color: $grey;
}

.row{
    margin-bottom: 0;
}
.rowBottom{
    margin-bottom: 20px;
}

.greyFont{
    color: $grey;
}
.blueFont{
    color: $blue;
}
.pinkFont{
    color: $pink;
}
.navyFont{
    color: $navy;
}
.bigger{
    font-size: 2em;
}