$blue: #55BFF3;
$pink: #EA3864;
$grey: #f4f4f4;
$navy: #08182b;
$transluscentNavy: rgba(8,24,43,.8);
$transluscentBlue: rgba(85,191,243,.7);
$transluscentPink: rgba(234,56,100,.3);

@import url('https://fonts.googleapis.com/css?family=Archivo|Pacifico|Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

@import "header";
@import "about";
@import "projects";
@import "tech";
@import "contact";
body{
    background-color: $grey;
    color: $navy;
    font-family: 'Archivo', sans-serif;
}
nav{
    background-color: $navy;
    color: $grey;
}
.brand-logo{
    font-family: 'Pacifico', cursive;
}
h2, h3, .fancyFont{
    font-family: 'Vidaloka', serif;
}
.subtitle{
    font-family: 'Open Sans Condensed', sans-serif;
}
.row{
    margin-bottom: 0;
}
.rowBottom{
    margin-bottom: 20px;
}

.greyFont{
    color: $grey;
}
.blueFont{
    color: $blue;
}
.pinkFont{
    color: $pink;
}
.navyFont{
    color: $navy;
}
.bigger{
    font-size: 2em;
}