$blue: #55BFF3;
$pink: #EA3864;
$grey: #f4f4f4;
$navy: #08182b;

@import "header";
@import "about";
@import "projects";
@import "tech";
@import "contact";
body{
    background-color: $grey;
    color: $navy;
}
nav{
    background-color: $navy;
    color: $grey;
}

.row{
    margin-bottom: 0;
}